<!DOCTYPE html>
<html lang="ja">
  <% const title='人工知能を用いた画像データベースの作成とそれを用いた医療画像診断支援ソフトウェア開発と評価'%>
  <%- include src/head.ejs %>
  <div class="wrapper">
    <body>
      <%- include src/header.ejs %>
      <section class="section">
        <div class="container">
          <% const crumbs=[['オプトアウト','/optout/'],[title,'201906.html']] %>
          <%- include src/breadcrumb%>
          <div class="container narrow">
            <main role="main" class="enumerate-h2">
              <article>
                <h1 class='title is-5'>人工知能を用いた画像データベースの作成とそれを用いた医療画像診断支援ソフトウェア開発と評価</h1>
                <h2 class='title is-6'>研究の対象</h2>
                <p>
                  大阪大学医学部附属病院で撮影された医用画像（CT，MR等）を対象とする．疾患としては胸部領域では肺結節やびまん性肺疾患，腹部領域では肝臓病変や胃・大腸や腎などの腫瘍性疾患や頭部の血管性病変や腫瘍病変などの多臓器・多疾患を対象とする．原則として前向き画像と対象とするが，過去画像との比較のためにすでに撮影済みの画像を対象とする場合がある．対象とする年齢は成人（20歳以上）とし，健康人は対象としない．
                </p>

                <h2 class='title is-6'>研究目的・方法</h2>
                <p>
                  本研究の目的は人工知能技術を用いて医用画像における多臓器・多疾患の病変の検出・鑑別やレポート作成をおこなうコンピュータ支援診断（CAD）システムの開発をおこなうことである．
                  大阪大学で撮影された画像症例に対してワークステーションを用いて日常読影のレポートを作成する際に，所見と対応する画像に対するアノテーション（紐付け）を行う（例えば，“右上葉にみられる肺結節”とそれに対応する画像を紐付けする）．画像の各位置にキーワードが対応する学習データをAIにて学習し，未知の画像が与えられた再に各画像位置に対してキーワードを生成する．前向きデータの収集はビューアに搭載されたリンク機能を用いて通常読影作業中に実施するが，このような紐付けされた画像データを用いて全身網羅型CADの研究開発と評価をおこなう．最初に肺がんや肝腫瘍リンパ節腫大など比較的症例が集まりやすい臓器・疾患から開始消化管・腎・頭など他の臓器・疾患へと展開する．評価結果は開発へとフィードバックする．原則として全画像を対象として解析するが，場合により臓器に特化した解析が有用となるため，臓器領域の抽出処理もおこなう．このためには放射線科医による臓器領域のアノテーションが必要となりAI支援によるアノテーションをおこなう．AIを用いたCADの結果の評価においては，その推論過程を明らかにできないという指摘があり，これがアルゴリズム開発の障害になると考えられるのでGrad-CAMなどのXAIによる推論過程の明確化を試みる．また本研究開発では全身網羅型CADの開発をめざすので症例数の少ない疾患に対しては， X-shot learningとよばれる手法の適用を試みる．
                  尚，研究機関は，研究機関の長の許可日　～　西暦2024年3月31日とする．
                </p>

                <h2 class='title is-6'>研究に用いる試料・情報の種類</h2>
                <p>
                  CT画像やMR画像，病歴・画像所見データなど．
                </p>

                <h2 class='title is-6'>外部への試料・情報の提供</h2>
                <p>
                  本研究は大阪大学と富士フイルム（株）との共同研究であり，富士フイルム（株）への資料・情報の提供があります．
                </p>


                <h2 class='title is-6'>研究組織</h2>
                <p>
                  <div class="content">
                    <blockquote>
                      <dl>
                        <dt>
                          大阪大学大学院医学系研究科人工知能画像診断学共同研究講座
                        </dt>
                        <dd>
                          特任教授　木戸尚治
                        </dd>

                        <dt>
                          富士フイルム株式会社
                        </dt>
                        <dd>
                          桝本　潤（企業側研究統括）
                        </dd>
                      </dl>
                    </blockquote>
                  </div>
                </p>

                <aside>
                  尚，データセンターは，大阪大学大学院医学系研究科人工知能画像診断学共同研究講座に設置する．富士フイルム株式会社は人工知能を用いたソフトウェアの開発をおこなう．
                </aside>

                <h2 class='title is-6'>お問い合わせ先</h2>
                <p>
                  本研究に関するご質問等がありましたら下記の連絡先までお問い合わせ下さい．ご希望があれば，他の研究対象者の個人情報及び知的財産の保護に支障がない範囲内で，研究計画書及び関連資料を閲覧することが出来ますのでお申出下さい．また，試料・情報が当該研究に用いられることについて患者さんもしくは患者さんの代理人の方にご了承いただけない場合には研究対象としませんので，下記の連絡先までお申出ください．その場合でも患者さんに不利益が生じることはありません．
                </p>

                <div class="content">
                  <blockquote>
                    <dl>
                      <dt>
                        照会先および研究への利用を拒否する場合の連絡先
                      </dt>
                      <dd>
                        大阪府吹田市山田丘2-2　大阪大学大学院医学系研究科人工知能画像診断学共同研究講座<br>
                        電話：06-6879-3432<br>
                        担当者：木戸尚治（研究責任者）
                      </dd>

                      <dt>
                        研究責任者
                      </dt>
                      <dd>
                        大阪大学大学院医学系研究科人工知能画像診断学共同研究講座<br>
                        特任教授　木戸尚治
                      </dd>
                    </dl>
                  </blockquote>
                </div>

              </article>
            </main>
          </div>
        </div>
      </section>
      <%- include src/footer.html %>
    </body>
  </div>
</html>
