<!DOCTYPE html>
<html lang="ja">
  <% const title='オプトアウト'%>
  <%- include src/head.ejs %>
  <div class="wrapper">
    <body>
      <%- include src/header.ejs %>
      <section class="section">
        <div class="container">
          <% const crumbs=[[title,'optout.html']] %>
          <%- include src/breadcrumb%>
          <main role="main">
            <p>
              オプトアウトに関するお知らせ。
            </p>
            <!-- <ul style="list-style-type: disc">
                 <li>
                 <a href="201909.html">人工知能を用いた画像データベースの作成とそれを用いた医療画像診断支援ソフトウェア開発と評価</a>
                 </li>
                 </ul> -->
          </main>
        </div>
      </section>
      <%- include src/footer.html %>
    </body>
  </div>
</html>
