<nav class="navbar has-shadow is-spaced is-info" role="navigation" aria-label="ナビゲーション">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/index.html">大阪大学大学院医学系研究科<br>人工知能画像診断学共同研究講座</a>
      <a role="button" id="hamburger" class="navbar-burger burger" aria-label="メニュー" aria-expanded="false" data-target="navMenuIndex">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navMenuIndex" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/people.html">
          スタッフ
        </a>
        <a class="navbar-item" href="/research.html">
          研究
        </a>
        <a class="navbar-item" href="/optout/">
          オプトアウト
        </a>
      </div>
    </div>
    <div class="navbar-end">
      <!-- <a class="navbar-item">アクセス</a> -->
    </div>
  </div>
</nav>
