<% const base_title = '大阪大学大学院医学系研究科 人工知能画像診断学共同研究講座' %>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="format-detection" content="telephone=no, address=no, email=no">
  <meta name="theme-color" content="#384EB4">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <meta name="description" content="大阪大学大学院　医学系研究科　人工知能画像診断学共同研究講座">
  <title>
    <% if (title) {%>
      <%- title + ' - ' + base_title %>
    <% } else {%>
      <%- base_title%>
    <% } %>
  </title>
</head>
