<!DOCTYPE html>
<html lang="ja">
  <% const title='オプトアウト'%>
  <%- include src/head.ejs %>
  <div class="wrapper">
    <body>
      <%- include src/header.ejs %>
      <section class="section">
        <div class="container">
          <% const crumbs=[[title,'optout.html']] %>
          <%- include src/breadcrumb%>
          <main role="main">
            <div class="content">
              当講座のオプトアウトに関する情報は、大阪大学大学院医学系研究科 放射線統合医学講座 放射線医学教室の<a href="http://radiol-osaka-u.com/publication/ethics">倫理委員会申請内容</a>をご覧ください。
            </div>
          </main>
        </div>
      </section>
      <%- include src/footer.html %>
    </body>
  </div>
</html>
