<!DOCTYPE html>
<html lang="ja">
  <% const title='研究'%>
  <%- include src/head.ejs %>
  <div class="wrapper">
    <body>
      <%- include src/header.ejs %>
      <section class="section">
        <div class="container">
          <% const crumbs=[[title,'research.html']] %>
          <%- include src/breadcrumb%>
          <div class="container">
            <main role="main">
              <p>
                研究内容について記載する予定です。
              </p>
            </main>
          </div>
        </div>
      </section>
      <%- include src/footer.html %>
    </body>
  </div>
</html>
